body{
    font-family: "Merriweather", serif;
}

.banner{
    background-image: url('resources/Banner\ Image.png');
    height:600px;
    width:86.8%;
    margin:0 auto;
    
}
.banner-description h4{
    color:white;
    font-weight:400px;
    text-align: center;
    font-size: 30px;
    margin: 0;
    
}

.banner-description h1{
    color:white;
    font-weight:800px;
    font-size: 70px;
    text-align: center;
    margin: 0;
}
.shad{
    width:100%;
    background-color: rgba(0, 0, 0, 0.517);
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.p-clr{
    color:#FF0000;
}
.cntr {
    text-align: center;
}
.second h1 {
    margin-top: 50px;
    font-size: 65px;
}
.s-img{
    display:flex;
    margin: 0 auto;
}
.second h3{
    font-size: 25px;
}
.second{
    margin-bottom: 80px;
}
.wel-d{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('resources/Vectorrr.png');
    width:87.8%;
    margin:0 auto;
    border-radius: 10px;
}

.welcome-text{
    width:45%;
    color:white
}
.welcome-text h1{
    font-size: 60px;
    margin:0;
}
.welcome-text h2{
    font-size: 55px;
    margin:0;
}
.welcome-text p{
    margin:20px 0 40px 0;
}

.place{
    width:80%;
    background-image: linear-gradient(to bottom,#ff000027,#fff8ff);
    padding:60px;
    margin:0 auto;
    margin-top: 60px;
}
.place h1{
    text-align: center;
}
.btn{
    padding:10px 25px;
    background-color: #FF0000;
    color:white;
    border:0;
    position:right;
}
.btn-n{
    display:flex;
    justify-content: center;
    margin-top: 50px;
}
.coming{
    width:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    gap:40px;
    margin-top: 80px;;
}
.coming-f{
    width:30%;
}
.coming-s{
    width:4=30%;
     display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 50%;
    border: 15px solid #FF0000;
    background-color: white;
}
.coming-circle{
    border-width: 5px solid black;
    
}
.coming-t{
    width:30%;
}
.holiday-f p{
    width:50%;
    margin:0 auto;
}
.holiday{
    margin-top: 60px;
}
.holiday-s{
    width:90%;
    margin:0 auto;
    height:600px;
    
}
.img-rec{
 position:bottom left;
}

.rec{
    display: flex;
}
.red-img{

}

.portfolio{
    width:88%;
    margin: 0 auto;
}
.portfolio p{
    width:65%;
}
.portfolio-first{
    display:flex;
    justify-content: center;
    gap:30px;
    margin-bottom: 30px;
}
.portfolio-second{
    display:flex;
    justify-content: center;
    gap:30px;
}
.port{
    
}